body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}
.Parent {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
}

.Top1 {
    margin: 0px 50px 0px;
    float: Top;
    width: 20%;
    height: 100%;
    position: relative;
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: #827f7f;
    overflow: hidden;
    /* One Line */
    font-size: 30px;
}

li {
    float: left;
    margin-inline-start: 50px;
    margin-left: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 60px;
}

li a:hover {
    color: rgb(210, 210, 184);
}

li a:active {
    color: black;
}


input[type="text"] {
    width: 200px;
    /* control box width */
    height: 40px;
    padding: 8px;
    /* space inside box */
    border: 2px solid #333;
    /* border thickness & color */
    border-radius: 5px;
    /* rounded corners */
    font-size: 20px;
    /* text size */
}

input[type="text"]:focus {
    outline: none;
    /* remove default blue outline */
    border-color: #007BFF;
    /* change border color when active */
}

/* Container for all courses */
.course-container {
    display: flex;
    flex-wrap: wrap ;
    /* This is essential to make items wrap to new rows */
    justify-content: space-around;
    /* Evenly space the items */
    /*gap: 20px;8  Alternative to margin for spacing */
    /* Space between courses */
    margin: 20px;
    width: 100%;
}

/* Individual course styles */
.course {
    width: 25%;
    /* Fixed width for each course */
    background-color: #fdf8ff90;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    margin-left:30px;
}

/* Course Image */
.course-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Course Details */
.course-details {
    padding: 20px;
}

.course-title {
    font-size: 24px;
    font-weight: bold;
}

.course-description {
    font-size: 16px;
    color: #555;
}

.course-price {
    margin-top: 20px;
}

.price {
    font-size: 22px;
    color: #2ecc71;
}

.enroll-btn {
    background-color: #3498db;
    color: rgb(235, 212, 212);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.enroll-btn:hover {
    background-color: #2980b9;
}


.course-meta p {
    font-size: 30px;
    text-align: center;
    color: #777;
}

.End{
    width: 100%;
    font-size: 50px;
    text-align: center;
    background-color: lightgray;
}