
* {
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f5f6fa;
    color: #222;
}


.hero {
    background: linear-gradient(135deg,#6a5bf3, #b05bfa);
    padding: 40px 0;
    color: white;
}
.hero2 {
   background: linear-gradient(135deg, #02413b, #315353);

    padding: 40px 0;
    color: white;
}

.hero-content {
    width: 80%;
    margin: auto;
}

.tag {
    display: inline-block;
    background: rgba(255, 255, 255, 0.18);
    padding: 6px 14px;
    border-radius: 20px;
    margin-right: 6px;
    font-size: 0.85rem;
}

.web {
    background: rgba(0, 0, 0, 0.25);
}

.hero h1 {
    font-size: 2.8rem;
    margin-top: 15px;
}

.course-desc {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.95;
}

.course-stats {
    margin-top: 25px;
    display: flex;
    gap: 40px;
}

.course-stats div {
    font-size: 1rem;
}


.container {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}


.content h2 {
    margin-bottom: 15px;
}

.learn-list {
    margin-top: 15px;
    list-style: "✔ ";
    padding-left: 20px;
}

.learn-list li {
    padding: 10px 0;
}


.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-box, .details-box, .help-box {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

.price-box h2 {
    font-size: 2rem;
}

.small-note {
    font-size: 0.85rem;
    margin-bottom: 15px;
    opacity: 0.7;
}

.enroll-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #4f5dff, #874fff);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}
.enroll-btn2 {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #02413b, #183333);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.wishlist-btn, .share-btn {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #bbb;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.help-box {
    background: #eef5ff;
    border: 1px dashed #aac7ff;
    font-size: 0.9rem;
    padding: 18px;
}


.learn-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.learn-item {
    background: #eef5ff;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: #2a4dd0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.learn-item::before {
    content: "✔";
    font-size: 1.1rem;
    color: #3968ff;
}
.learn-item2 {
    background: #eef5ff;
    padding: 15px;
    border-radius: 10px;
    font-size: 1rem;
    color: #02413b;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.learn-item2::before {
    content: "✔";
    font-size: 1.1rem;
    color: #02413b;
}



.curriculum-title {
    margin-top: 40px;
    font-size: 1.8rem;
}

.curriculum-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.curriculum-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4f5dff, #874fff);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.circle2 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(135deg, #02413b, #183333);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.curriculum-item h3 {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.curr-details {
    font-size: 0.9rem;
    opacity: 0.7;
}
