.section-title {
    padding: 40px 0;
    text-align: center;
}

.section-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-description {
    opacity: .5;
    font-size: 12px;
}

/* My Courses */
.my-courses {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 250px);
    flex-wrap: wrap;
    padding: 0 60px;
}

@media (max-width: 640px) {
    .my-courses {
        padding: 0 20px;
    }
}

.my-courses .course {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .3s;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}

.my-courses .course:hover {
    transform: translateY(-3px);
}

.my-courses .course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.my-courses .course-details {
    padding: 20px;
}

.my-courses .course-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.my-courses .course-description {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.my-courses .course-progress {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    width: 90%;
    height: 6px;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.my-courses .course-progress::before {
    position: absolute;
    content: "";
    left: 0;
    width: var(--width, 0%);
    height: 100%;
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
}

.my-courses .course-progress::after {
    position: absolute;
    content: attr(value);
    top: 50%;
    right: -15%;
    font-size: 9px;
    transform: translateY(-50%);
}