/* Auth Layout */

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 220px);
    padding: 40px 20px;
}

.auth-container {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .05);
}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #02413b;
    margin-bottom: 10px;
}

.auth-header p {
    font-size: 14px;
    opacity: .6;
}


/* Form Styling */

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: .3s;
}

.input-group input:focus {
    border-color: #02413b;
}


/* Form Options */

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 25px;
}

.form-options a {
    color: #02413b;
    text-decoration: none;
    font-weight: bold;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: #02413b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background-color: #035e56;
}


/* Footer Links */

.auth-footer-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.auth-footer-text a {
    color: #02413b;
    font-weight: bold;
    text-decoration: none;
}

.auth-footer-text a:hover {
    text-decoration: underline;
}

/* Validation Styles */
.input-group input.error-border {
    border-color: #880000;
    background-color: #fff0f0;
}

.error-message {
    color: #880000;
    font-size: 12px;
    margin-top: 5px;
    display: block;
    font-weight: bold;
}